@media (max-width: 600px) {
	nav {
		display: block;
		text-align: center;
		position: static;
	}
	nav a {
		display: block;
		font-size: 20px;
		text-decoration: underline;
		margin: 10px;
	}
	header {
		margin: auto;
	}
	.company_flex {
		display: block;
	}
	.company_flex img {
		width: 100%;
	}
	.members_flex {
		display: block;
	}
	.member {
		margin: 15px 0;
		box-sizing: border-box;
	}
	.cost_flex {
		display: block;
	}
	ul {
		width: 80%;
		margin: auto;
		margin-top: 20px;
	}
}